<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/php/bootstrap.php"
         colors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true">

    <testsuites>
        <testsuite name="Repositories">
            <directory>tests/php/repositories</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">backend/repositories</directory>
        </include>
    </source>

</phpunit>
